HUGGINGFACEHUB_API_TOKEN="Replace with your Hugging Face Hub API token"
MODAL_API_KEY="Replace with your Modal API key"
SLACK_WEBHOOK_URL="Replace with your Slack webhook URL"

# change this key and project
LANGSMITH_API_KEY="Replace with your LangSmith API key"
LANGSMITH_PROJECT="Replace with your project name"
LANGSMITH_TRACING=true
LANGSMITH_HIDE_OUTPUTS=true
# LANGSMITH_HIDE_INPUTS=true

# Completely optional settings for hiding inputs/outputs in the LangSmith UI, 
# or using a custom endpoint